{
  "info": {
    "license": {
      "name": "private",
      "url": "https://rally1.rallydev.com"
    },
    "contact": {
      "url": "https://rally1.rallydev.com",
      "name": "Rally Software",
      "email": "support@rallydev.com"
    },
    "version": "v2.0",
    "title": "Rally WebService API",
    "description": "Rally Open API docs"
  },
  "openapi": "3.1.0",
  "servers": [
    {
      "url": "https://rally1.rallydev.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "scheme": "bearer",
        "type": "http"
      },
      "basicAuth": {
        "scheme": "basic",
        "type": "http"
      }
    },
    "schemas": {
      "AllowedAttributeValue": {
        "type": "object",
        "description": "AllowedAttributeValue",
        "properties": {
          "AttributeDefinition": {
            "$ref": "#/components/schemas/AttributeDefinitionRef",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "IntegerValue": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Integer Value",
            "nullable": false
          },
          "LocalizedStringValue": {
            "type": "string",
            "required": [],
            "description": "Localized String Value",
            "readOnly": true,
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "StringValue": {
            "type": "string",
            "required": [],
            "description": "String Value",
            "nullable": false
          },
          "ValueIndex": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Value Index",
            "nullable": false
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "AllowedAttributeValueMutation": {
        "type": "object",
        "description": "AllowedAttributeValue",
        "properties": {
          "AllowedAttributeValue": {
            "type": "object",
            "description": "AllowedAttributeValue",
            "properties": {
              "AttributeDefinition": {
                "$ref": "#/components/schemas/AttributeDefinitionRef",
                "required": []
              },
              "IntegerValue": {
                "type": "integer",
                "format": "int64",
                "required": [],
                "description": "Integer Value",
                "nullable": false
              },
              "StringValue": {
                "type": "string",
                "required": [],
                "description": "String Value",
                "nullable": false
              },
              "ValueIndex": {
                "type": "integer",
                "format": "int64",
                "required": [],
                "description": "Value Index",
                "nullable": false
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "AllowedAttributeValueRef": {
        "type": "object",
        "description": "Reference to AllowedAttributeValue",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/allowedattributevalue/{oid}"
        }
      },
      "AllowedQueryOperator": {
        "type": "object",
        "description": "AllowedQueryOperator",
        "properties": {
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "OperatorName": {
            "type": "string",
            "required": [],
            "description": "Operator Name",
            "readOnly": true,
            "nullable": true
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "AllowedQueryOperatorMutation": {
        "type": "object",
        "description": "AllowedQueryOperator",
        "properties": {
          "AllowedQueryOperator": {
            "type": "object",
            "description": "AllowedQueryOperator",
            "properties": {
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "AllowedQueryOperatorRef": {
        "type": "object",
        "description": "Reference to AllowedQueryOperator",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/allowedqueryoperator/{oid}"
        }
      },
      "App": {
        "type": "object",
        "description": "App",
        "properties": {
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Description": {
            "type": "string",
            "required": [],
            "description": "Description",
            "maxLength": 256,
            "nullable": true
          },
          "HTMLSource": {
            "type": "string",
            "required": [],
            "description": "HTML Source",
            "maxLength": 10240000,
            "nullable": true
          },
          "IsDisabled": {
            "type": "boolean",
            "required": [],
            "description": "Is Disabled",
            "nullable": true
          },
          "IsIterationFiltered": {
            "type": "boolean",
            "required": [],
            "description": "Is Iteration Filtered",
            "nullable": true
          },
          "IsMilestoneFiltered": {
            "type": "boolean",
            "required": [],
            "description": "Is Milestone Filtered",
            "nullable": true
          },
          "IsReleaseFiltered": {
            "type": "boolean",
            "required": [],
            "description": "Is Release Filtered",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "required": [],
            "description": "Name",
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "PreviewImageUrl": {
            "type": "string",
            "required": [],
            "description": "Preview Image Url",
            "nullable": false
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "Usages": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Usages",
            "readOnly": true,
            "nullable": true
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "AppMutation": {
        "type": "object",
        "description": "App",
        "properties": {
          "App": {
            "type": "object",
            "description": "App",
            "properties": {
              "Description": {
                "type": "string",
                "required": [],
                "description": "Description",
                "maxLength": 256,
                "nullable": true
              },
              "HTMLSource": {
                "type": "string",
                "required": [],
                "description": "HTML Source",
                "maxLength": 10240000,
                "nullable": true
              },
              "IsDisabled": {
                "type": "boolean",
                "required": [],
                "description": "Is Disabled",
                "nullable": true
              },
              "IsIterationFiltered": {
                "type": "boolean",
                "required": [],
                "description": "Is Iteration Filtered",
                "nullable": true
              },
              "IsMilestoneFiltered": {
                "type": "boolean",
                "required": [],
                "description": "Is Milestone Filtered",
                "nullable": true
              },
              "IsReleaseFiltered": {
                "type": "boolean",
                "required": [],
                "description": "Is Release Filtered",
                "nullable": true
              },
              "Name": {
                "type": "string",
                "required": [],
                "description": "Name",
                "nullable": false
              },
              "PreviewImageUrl": {
                "type": "string",
                "required": [],
                "description": "Preview Image Url",
                "nullable": false
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "AppRef": {
        "type": "object",
        "description": "Reference to App",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/app/{oid}"
        }
      },
      "ArtifactNotification": {
        "type": "object",
        "description": "ArtifactNotification",
        "properties": {
          "ClassName": {
            "type": "string",
            "required": [],
            "description": "Class Name",
            "readOnly": true,
            "nullable": true
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Description": {
            "type": "string",
            "required": [],
            "description": "Description",
            "readOnly": true,
            "nullable": true
          },
          "ID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "ID",
            "readOnly": true,
            "nullable": true
          },
          "IDPrefix": {
            "type": "string",
            "required": [],
            "description": "ID Prefix",
            "readOnly": true,
            "nullable": true
          },
          "IDSuffix": {
            "type": "string",
            "required": [],
            "description": "ID Suffix",
            "readOnly": true,
            "nullable": true
          },
          "Name": {
            "type": "string",
            "required": [],
            "description": "Name",
            "readOnly": true,
            "nullable": true
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Project": {
            "$ref": "#/components/schemas/ProjectRef",
            "required": []
          },
          "SubjectOID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Subject OID",
            "readOnly": true,
            "nullable": true
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "User": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "ArtifactNotificationMutation": {
        "type": "object",
        "description": "ArtifactNotification",
        "properties": {
          "ArtifactNotification": {
            "type": "object",
            "description": "ArtifactNotification",
            "properties": {
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "ArtifactNotificationRef": {
        "type": "object",
        "description": "Reference to ArtifactNotification",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/artifactnotification/{oid}"
        }
      },
      "Attachment": {
        "type": "object",
        "description": "Attachment",
        "properties": {
          "Artifact": {
            "$ref": "#/components/schemas/ObjectRef",
            "required": []
          },
          "Compressed": {
            "type": "boolean",
            "required": [],
            "description": "Compressed",
            "default": "false",
            "readOnly": true,
            "nullable": true
          },
          "Content": {
            "$ref": "#/components/schemas/AttachmentContentRef",
            "required": []
          },
          "ContentType": {
            "type": "string",
            "required": [],
            "description": "Content Type",
            "nullable": false
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Description": {
            "type": "string",
            "required": [],
            "description": "Description",
            "maxLength": 768,
            "nullable": true
          },
          "Name": {
            "type": "string",
            "required": [],
            "description": "Name",
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Size": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Size",
            "readOnly": true,
            "nullable": true
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "TestCaseResult": {
            "$ref": "#/components/schemas/TestCaseResultRef",
            "required": []
          },
          "User": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "AttachmentMutation": {
        "type": "object",
        "description": "Attachment",
        "properties": {
          "Attachment": {
            "type": "object",
            "description": "Attachment",
            "properties": {
              "Artifact": {
                "$ref": "#/components/schemas/ObjectRef",
                "required": []
              },
              "Content": {
                "$ref": "#/components/schemas/AttachmentContentRef",
                "required": []
              },
              "ContentType": {
                "type": "string",
                "required": [],
                "description": "Content Type",
                "nullable": false
              },
              "Description": {
                "type": "string",
                "required": [],
                "description": "Description",
                "maxLength": 768,
                "nullable": true
              },
              "Name": {
                "type": "string",
                "required": [],
                "description": "Name",
                "nullable": false
              },
              "TestCaseResult": {
                "$ref": "#/components/schemas/TestCaseResultRef",
                "required": []
              },
              "User": {
                "$ref": "#/components/schemas/UserRef",
                "required": []
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "AttachmentRef": {
        "type": "object",
        "description": "Reference to Attachment",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/attachment/{oid}"
        }
      },
      "AttachmentContent": {
        "type": "object",
        "description": "AttachmentContent",
        "properties": {
          "Content": {
            "type": "string",
            "required": [],
            "description": "Content",
            "nullable": false
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "AttachmentContentMutation": {
        "type": "object",
        "description": "AttachmentContent",
        "properties": {
          "AttachmentContent": {
            "type": "object",
            "description": "AttachmentContent",
            "properties": {
              "Content": {
                "type": "string",
                "required": [],
                "description": "Content",
                "nullable": false
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "AttachmentContentRef": {
        "type": "object",
        "description": "Reference to AttachmentContent",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/attachmentcontent/{oid}"
        }
      },
      "AttributeDefinition": {
        "type": "object",
        "description": "AttributeDefinition",
        "properties": {
          "AllowedQueryOperators": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "AllowedValueType": {
            "$ref": "#/components/schemas/TypeDefinitionRef",
            "required": []
          },
          "AllowedValues": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "AttributeType": {
            "type": "string",
            "required": [],
            "description": "Attribute Type",
            "readOnly": true,
            "nullable": false,
            "enum": [
              "",
              "BINARY_DATA",
              "BOOLEAN",
              "COLLECTION",
              "DATE",
              "DECIMAL",
              "INTEGER",
              "OBJECT",
              "QUANTITY",
              "RATING",
              "RAW",
              "STATE",
              "STRING",
              "TEXT",
              "MAP",
              "WEB_LINK",
              "None"
            ]
          },
          "Constrained": {
            "type": "boolean",
            "required": [],
            "description": "Constrained",
            "readOnly": true,
            "nullable": true
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Custom": {
            "type": "boolean",
            "required": [],
            "description": "Custom",
            "readOnly": true,
            "nullable": false
          },
          "DetailedType": {
            "type": "string",
            "required": [],
            "description": "Detailed Type",
            "readOnly": true,
            "nullable": true
          },
          "ElementName": {
            "type": "string",
            "required": [],
            "description": "Element Name",
            "readOnly": true,
            "nullable": true
          },
          "Filterable": {
            "type": "boolean",
            "required": [],
            "description": "Filterable",
            "readOnly": true,
            "nullable": false
          },
          "Hidden": {
            "type": "boolean",
            "required": [],
            "description": "Hidden",
            "readOnly": true,
            "nullable": true
          },
          "Hideable": {
            "type": "boolean",
            "required": [],
            "description": "Hideable",
            "readOnly": true,
            "nullable": false
          },
          "MaxFractionalDigits": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Max Fractional Digits",
            "readOnly": true,
            "nullable": false
          },
          "MaxLength": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Max Length",
            "readOnly": true,
            "nullable": false
          },
          "Name": {
            "type": "string",
            "required": [],
            "description": "Name",
            "nullable": false
          },
          "Note": {
            "type": "string",
            "required": [],
            "description": "Note",
            "readOnly": true,
            "nullable": true
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Owned": {
            "type": "boolean",
            "required": [],
            "description": "Owned",
            "readOnly": true,
            "nullable": false
          },
          "ReadOnly": {
            "type": "boolean",
            "required": [],
            "description": "Read Only",
            "readOnly": true,
            "nullable": false
          },
          "RealAttributeType": {
            "type": "string",
            "required": [],
            "description": "Real Attribute Type",
            "nullable": false,
            "enum": [
              "",
              "BINARY_DATA",
              "OBJECT",
              "QUANTITY",
              "RATING",
              "STATE",
              "RAW",
              "COLLECTION",
              "TEXT",
              "BOOLEAN",
              "INTEGER",
              "DECIMAL",
              "WEB_LINK",
              "DATE",
              "STRING",
              "DROP_DOWN",
              "MULTI_VALUE",
              "USER",
              "None"
            ]
          },
          "Required": {
            "type": "boolean",
            "required": [],
            "description": "Required",
            "readOnly": true,
            "nullable": true
          },
          "Sortable": {
            "type": "boolean",
            "required": [],
            "description": "Sortable",
            "readOnly": true,
            "nullable": false
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "SystemRequired": {
            "type": "boolean",
            "required": [],
            "description": "System Required",
            "readOnly": true,
            "nullable": false
          },
          "Type": {
            "type": "string",
            "required": [],
            "description": "Type",
            "readOnly": true,
            "nullable": true
          },
          "TypeDefinition": {
            "$ref": "#/components/schemas/TypeDefinitionRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "VisibleOnlyToAdmins": {
            "type": "boolean",
            "required": [],
            "description": "Visible Only To Admins",
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "AttributeDefinitionMutation": {
        "type": "object",
        "description": "AttributeDefinition",
        "properties": {
          "AttributeDefinition": {
            "type": "object",
            "description": "AttributeDefinition",
            "properties": {
              "AllowedValues": {
                "$ref": "#/components/schemas/Collection",
                "required": []
              },
              "Name": {
                "type": "string",
                "required": [],
                "description": "Name",
                "nullable": false
              },
              "RealAttributeType": {
                "type": "string",
                "required": [],
                "description": "Real Attribute Type",
                "nullable": false,
                "enum": [
                  "",
                  "BINARY_DATA",
                  "OBJECT",
                  "QUANTITY",
                  "RATING",
                  "STATE",
                  "RAW",
                  "COLLECTION",
                  "TEXT",
                  "BOOLEAN",
                  "INTEGER",
                  "DECIMAL",
                  "WEB_LINK",
                  "DATE",
                  "STRING",
                  "DROP_DOWN",
                  "MULTI_VALUE",
                  "USER",
                  "None"
                ]
              },
              "VisibleOnlyToAdmins": {
                "type": "boolean",
                "required": [],
                "description": "Visible Only To Admins",
                "nullable": true
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "AttributeDefinitionRef": {
        "type": "object",
        "description": "Reference to AttributeDefinition",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/attributedefinition/{oid}"
        }
      },
      "Blocker": {
        "type": "object",
        "description": "Blocker",
        "properties": {
          "BlockedBy": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "WorkProduct": {
            "$ref": "#/components/schemas/ObjectRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "BlockerMutation": {
        "type": "object",
        "description": "Blocker",
        "properties": {
          "Blocker": {
            "type": "object",
            "description": "Blocker",
            "properties": {
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "BlockerRef": {
        "type": "object",
        "description": "Reference to Blocker",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/blocker/{oid}"
        }
      },
      "Build": {
        "type": "object",
        "description": "Build",
        "properties": {
          "BuildDefinition": {
            "$ref": "#/components/schemas/BuildDefinitionRef",
            "required": []
          },
          "Changesets": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Duration": {
            "type": "number",
            "required": [],
            "description": "Duration",
            "nullable": true
          },
          "Message": {
            "type": "string",
            "required": [],
            "description": "Message",
            "nullable": true
          },
          "Number": {
            "type": "string",
            "required": [],
            "description": "Number",
            "nullable": true
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Start": {
            "type": "string",
            "required": [],
            "description": "Start",
            "nullable": true
          },
          "Status": {
            "type": "string",
            "required": [],
            "description": "Status",
            "nullable": false,
            "enum": [
              "",
              "SUCCESS",
              "FAILURE",
              "INCOMPLETE",
              "UNKNOWN",
              "NO BUILDS",
              "None"
            ]
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "Uri": {
            "type": "string",
            "required": [],
            "description": "Uri",
            "nullable": true
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "BuildMutation": {
        "type": "object",
        "description": "Build",
        "properties": {
          "Build": {
            "type": "object",
            "description": "Build",
            "properties": {
              "BuildDefinition": {
                "$ref": "#/components/schemas/BuildDefinitionRef",
                "required": []
              },
              "Changesets": {
                "$ref": "#/components/schemas/Collection",
                "required": []
              },
              "Duration": {
                "type": "number",
                "required": [],
                "description": "Duration",
                "nullable": true
              },
              "Message": {
                "type": "string",
                "required": [],
                "description": "Message",
                "nullable": true
              },
              "Number": {
                "type": "string",
                "required": [],
                "description": "Number",
                "nullable": true
              },
              "Start": {
                "type": "string",
                "required": [],
                "description": "Start",
                "nullable": true
              },
              "Status": {
                "type": "string",
                "required": [],
                "description": "Status",
                "nullable": false,
                "enum": [
                  "",
                  "SUCCESS",
                  "FAILURE",
                  "INCOMPLETE",
                  "UNKNOWN",
                  "NO BUILDS",
                  "None"
                ]
              },
              "Uri": {
                "type": "string",
                "required": [],
                "description": "Uri",
                "nullable": true
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "BuildRef": {
        "type": "object",
        "description": "Reference to Build",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/build/{oid}"
        }
      },
      "BuildDefinition": {
        "type": "object",
        "description": "BuildDefinition",
        "properties": {
          "Builds": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Description": {
            "type": "string",
            "required": [],
            "description": "Description",
            "nullable": true
          },
          "LastBuild": {
            "$ref": "#/components/schemas/BuildRef",
            "required": []
          },
          "LastStatus": {
            "type": "string",
            "required": [],
            "description": "LastStatus",
            "readOnly": true,
            "nullable": true
          },
          "Name": {
            "type": "string",
            "required": [],
            "description": "Name",
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Project": {
            "$ref": "#/components/schemas/ProjectRef",
            "required": []
          },
          "Projects": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "Uri": {
            "type": "string",
            "required": [],
            "description": "Uri",
            "nullable": true
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "BuildDefinitionMutation": {
        "type": "object",
        "description": "BuildDefinition",
        "properties": {
          "BuildDefinition": {
            "type": "object",
            "description": "BuildDefinition",
            "properties": {
              "Description": {
                "type": "string",
                "required": [],
                "description": "Description",
                "nullable": true
              },
              "Name": {
                "type": "string",
                "required": [],
                "description": "Name",
                "nullable": false
              },
              "Project": {
                "$ref": "#/components/schemas/ProjectRef",
                "required": []
              },
              "Projects": {
                "$ref": "#/components/schemas/Collection",
                "required": []
              },
              "Uri": {
                "type": "string",
                "required": [],
                "description": "Uri",
                "nullable": true
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "BuildDefinitionRef": {
        "type": "object",
        "description": "Reference to BuildDefinition",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/builddefinition/{oid}"
        }
      },
      "CapacityPlanAssignment": {
        "type": "object",
        "description": "CapacityPlanAssignment",
        "properties": {
          "AllocationCount": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Allocation Count",
            "nullable": false
          },
          "AllocationPoints": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Allocation Points",
            "nullable": false
          },
          "CapacityPlanItem": {
            "$ref": "#/components/schemas/CapacityPlanItemRef",
            "required": []
          },
          "CapacityPlanProject": {
            "$ref": "#/components/schemas/CapacityPlanProjectRef",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Deleted": {
            "type": "boolean",
            "required": [],
            "description": "Deleted",
            "readOnly": true,
            "nullable": true
          },
          "DeletionDate": {
            "type": "string",
            "required": [],
            "description": "Deletion Date",
            "readOnly": true,
            "nullable": true
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "CapacityPlanAssignmentMutation": {
        "type": "object",
        "description": "CapacityPlanAssignment",
        "properties": {
          "CapacityPlanAssignment": {
            "type": "object",
            "description": "CapacityPlanAssignment",
            "properties": {
              "AllocationCount": {
                "type": "integer",
                "format": "int64",
                "required": [],
                "description": "Allocation Count",
                "nullable": false
              },
              "AllocationPoints": {
                "type": "integer",
                "format": "int64",
                "required": [],
                "description": "Allocation Points",
                "nullable": false
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "CapacityPlanAssignmentRef": {
        "type": "object",
        "description": "Reference to CapacityPlanAssignment",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/capacityplanassignment/{oid}"
        }
      },
      "CapacityPlanItem": {
        "type": "object",
        "description": "CapacityPlanItem",
        "properties": {
          "Assignments": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "CapacityPlan": {
            "$ref": "#/components/schemas/ObjectRef",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Deleted": {
            "type": "boolean",
            "required": [],
            "description": "Deleted",
            "readOnly": true,
            "nullable": true
          },
          "DeletedItemFormattedID": {
            "type": "string",
            "required": [],
            "description": "Deleted Item FormattedID",
            "readOnly": true,
            "nullable": true
          },
          "DeletedItemName": {
            "type": "string",
            "required": [],
            "description": "Deleted Item Name",
            "readOnly": true,
            "nullable": true
          },
          "DeletionDate": {
            "type": "string",
            "required": [],
            "description": "Deletion Date",
            "readOnly": true,
            "nullable": true
          },
          "DragAndDropRank": {
            "type": "string",
            "required": [],
            "description": "Drag And Drop Rank",
            "readOnly": true,
            "nullable": true
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "PortfolioItem": {
            "$ref": "#/components/schemas/PortfolioItemRef",
            "required": []
          },
          "Rank": {
            "type": "number",
            "required": [],
            "description": "Rank",
            "nullable": true
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "CapacityPlanItemMutation": {
        "type": "object",
        "description": "CapacityPlanItem",
        "properties": {
          "CapacityPlanItem": {
            "type": "object",
            "description": "CapacityPlanItem",
            "properties": {
              "Assignments": {
                "$ref": "#/components/schemas/Collection",
                "required": []
              },
              "Rank": {
                "type": "number",
                "required": [],
                "description": "Rank",
                "nullable": true
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "CapacityPlanItemRef": {
        "type": "object",
        "description": "Reference to CapacityPlanItem",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/capacityplanitem/{oid}"
        }
      },
      "CapacityPlanProject": {
        "type": "object",
        "description": "CapacityPlanProject",
        "properties": {
          "Assignments": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "CapacityPlan": {
            "$ref": "#/components/schemas/ObjectRef",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "PlannedCapacityCount": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Planned Capacity Count",
            "nullable": true
          },
          "PlannedCapacityPoints": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Planned Capacity Points",
            "nullable": true
          },
          "Project": {
            "$ref": "#/components/schemas/ProjectRef",
            "required": []
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "CapacityPlanProjectMutation": {
        "type": "object",
        "description": "CapacityPlanProject",
        "properties": {
          "CapacityPlanProject": {
            "type": "object",
            "description": "CapacityPlanProject",
            "properties": {
              "Assignments": {
                "$ref": "#/components/schemas/Collection",
                "required": []
              },
              "PlannedCapacityCount": {
                "type": "integer",
                "format": "int64",
                "required": [],
                "description": "Planned Capacity Count",
                "nullable": true
              },
              "PlannedCapacityPoints": {
                "type": "integer",
                "format": "int64",
                "required": [],
                "description": "Planned Capacity Points",
                "nullable": true
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "CapacityPlanProjectRef": {
        "type": "object",
        "description": "Reference to CapacityPlanProject",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/capacityplanproject/{oid}"
        }
      },
      "Change": {
        "type": "object",
        "description": "Change",
        "properties": {
          "Action": {
            "type": "string",
            "required": [],
            "description": "Action",
            "nullable": true
          },
          "Base": {
            "type": "string",
            "required": [],
            "description": "Base",
            "nullable": true
          },
          "Changeset": {
            "$ref": "#/components/schemas/ChangesetRef",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Extension": {
            "type": "string",
            "required": [],
            "description": "Extension",
            "nullable": true
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "PathAndFilename": {
            "type": "string",
            "required": [],
            "description": "Path And Filename",
            "nullable": false
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "Uri": {
            "type": "string",
            "required": [],
            "description": "Uri",
            "nullable": true
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "ChangeMutation": {
        "type": "object",
        "description": "Change",
        "properties": {
          "Change": {
            "type": "object",
            "description": "Change",
            "properties": {
              "Action": {
                "type": "string",
                "required": [],
                "description": "Action",
                "nullable": true
              },
              "Base": {
                "type": "string",
                "required": [],
                "description": "Base",
                "nullable": true
              },
              "Changeset": {
                "$ref": "#/components/schemas/ChangesetRef",
                "required": []
              },
              "Extension": {
                "type": "string",
                "required": [],
                "description": "Extension",
                "nullable": true
              },
              "PathAndFilename": {
                "type": "string",
                "required": [],
                "description": "Path And Filename",
                "nullable": false
              },
              "Uri": {
                "type": "string",
                "required": [],
                "description": "Uri",
                "nullable": true
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "ChangeRef": {
        "type": "object",
        "description": "Reference to Change",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/change/{oid}"
        }
      },
      "Changeset": {
        "type": "object",
        "description": "Changeset",
        "properties": {
          "Artifacts": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "Author": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "Branch": {
            "type": "string",
            "required": [],
            "description": "Branch",
            "nullable": true
          },
          "Builds": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "Changes": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "CommitTimestamp": {
            "type": "string",
            "required": [],
            "description": "Commit Timestamp",
            "nullable": false
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Message": {
            "type": "string",
            "required": [],
            "description": "Message",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "required": [],
            "description": "Name",
            "readOnly": true,
            "nullable": true
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Revision": {
            "type": "string",
            "required": [],
            "description": "Revision",
            "nullable": false
          },
          "SCMRepository": {
            "$ref": "#/components/schemas/SCMRepositoryRef",
            "required": []
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "Uri": {
            "type": "string",
            "required": [],
            "description": "Uri",
            "nullable": true
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "ChangesetMutation": {
        "type": "object",
        "description": "Changeset",
        "properties": {
          "Changeset": {
            "type": "object",
            "description": "Changeset",
            "properties": {
              "Artifacts": {
                "$ref": "#/components/schemas/Collection",
                "required": []
              },
              "Author": {
                "$ref": "#/components/schemas/UserRef",
                "required": []
              },
              "Branch": {
                "type": "string",
                "required": [],
                "description": "Branch",
                "nullable": true
              },
              "Changes": {
                "$ref": "#/components/schemas/Collection",
                "required": []
              },
              "CommitTimestamp": {
                "type": "string",
                "required": [],
                "description": "Commit Timestamp",
                "nullable": false
              },
              "Message": {
                "type": "string",
                "required": [],
                "description": "Message",
                "nullable": true
              },
              "Revision": {
                "type": "string",
                "required": [],
                "description": "Revision",
                "nullable": false
              },
              "SCMRepository": {
                "$ref": "#/components/schemas/SCMRepositoryRef",
                "required": []
              },
              "Uri": {
                "type": "string",
                "required": [],
                "description": "Uri",
                "nullable": true
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "ChangesetRef": {
        "type": "object",
        "description": "Reference to Changeset",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/changeset/{oid}"
        }
      },
      "ConnectAllIntegration": {
        "type": "object",
        "description": "ConnectAllIntegration",
        "properties": {
          "Active": {
            "type": "boolean",
            "required": [],
            "description": "Active",
            "nullable": false
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "Frequency": {
            "type": "string",
            "required": [],
            "description": "Frequency",
            "nullable": false
          },
          "LastUpdateDate": {
            "type": "string",
            "required": [],
            "description": "Last Update Date",
            "readOnly": true,
            "nullable": false
          },
          "Name": {
            "type": "string",
            "required": [],
            "description": "Name",
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "ConnectAllIntegrationMutation": {
        "type": "object",
        "description": "ConnectAllIntegration",
        "properties": {
          "ConnectAllIntegration": {
            "type": "object",
            "description": "ConnectAllIntegration",
            "properties": {
              "Active": {
                "type": "boolean",
                "required": [],
                "description": "Active",
                "nullable": false
              },
              "Frequency": {
                "type": "string",
                "required": [],
                "description": "Frequency",
                "nullable": false
              },
              "Name": {
                "type": "string",
                "required": [],
                "description": "Name",
                "nullable": false
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "ConnectAllIntegrationRef": {
        "type": "object",
        "description": "Reference to ConnectAllIntegration",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/connectallintegration/{oid}"
        }
      },
      "ConversationPost": {
        "type": "object",
        "description": "ConversationPost",
        "properties": {
          "Artifact": {
            "$ref": "#/components/schemas/ObjectRef",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "LastUpdateDate": {
            "type": "string",
            "required": [],
            "description": "Last Update Date",
            "readOnly": true,
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "PostNumber": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Post Number",
            "readOnly": true,
            "nullable": false
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "Text": {
            "type": "string",
            "required": [],
            "description": "Text",
            "maxLength": 32768,
            "nullable": false
          },
          "User": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "ConversationPostMutation": {
        "type": "object",
        "description": "ConversationPost",
        "properties": {
          "ConversationPost": {
            "type": "object",
            "description": "ConversationPost",
            "properties": {
              "Artifact": {
                "$ref": "#/components/schemas/ObjectRef",
                "required": []
              },
              "Text": {
                "type": "string",
                "required": [],
                "description": "Text",
                "maxLength": 32768,
                "nullable": false
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "ConversationPostRef": {
        "type": "object",
        "description": "Reference to ConversationPost",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/conversationpost/{oid}"
        }
      },
      "Dashboard": {
        "type": "object",
        "description": "Dashboard",
        "properties": {
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "Profile": {
            "$ref": "#/components/schemas/UserProfileRef",
            "required": []
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "name": {
            "type": "string",
            "required": [],
            "description": "name",
            "readOnly": true,
            "nullable": false
          },
          "timeboxFilter": {
            "type": "string",
            "required": [],
            "description": "timeboxFilter",
            "nullable": false
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "DashboardMutation": {
        "type": "object",
        "description": "Dashboard",
        "properties": {
          "Dashboard": {
            "type": "object",
            "description": "Dashboard",
            "properties": {
              "timeboxFilter": {
                "type": "string",
                "required": [],
                "description": "timeboxFilter",
                "nullable": false
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "DashboardRef": {
        "type": "object",
        "description": "Reference to Dashboard",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/dashboard/{oid}"
        }
      },
      "DataMoveRequest": {
        "type": "object",
        "description": "DataMoveRequest",
        "properties": {
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "DestinationSubscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "DestinationSubscriptionZuulId": {
            "type": "string",
            "required": [],
            "description": "DestinationSubscriptionZuulId",
            "nullable": false
          },
          "IsDryRun": {
            "type": "boolean",
            "required": [],
            "description": "IsDryRun",
            "nullable": false
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "RequestingUser": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "SourceSubscriptionZuulId": {
            "type": "string",
            "required": [],
            "description": "SourceSubscriptionZuulId",
            "nullable": false
          },
          "State": {
            "type": "string",
            "required": [],
            "description": "State",
            "nullable": false
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "VersionId": {
            "type": "string",
            "required": [],
            "description": "VersionId",
            "readOnly": true,
            "nullable": true
          },
          "Workspace": {
            "$ref": "#/components/schemas/WorkspaceRef",
            "required": []
          },
          "WorkspaceOids": {
            "type": "string",
            "required": [],
            "description": "WorkspaceOids",
            "nullable": false
          },
          "Warnings": {
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "Errors": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "DataMoveRequestMutation": {
        "type": "object",
        "description": "DataMoveRequest",
        "properties": {
          "DataMoveRequest": {
            "type": "object",
            "description": "DataMoveRequest",
            "properties": {
              "DestinationSubscriptionZuulId": {
                "type": "string",
                "required": [],
                "description": "DestinationSubscriptionZuulId",
                "nullable": false
              },
              "IsDryRun": {
                "type": "boolean",
                "required": [],
                "description": "IsDryRun",
                "nullable": false
              },
              "RequestingUser": {
                "$ref": "#/components/schemas/UserRef",
                "required": []
              },
              "SourceSubscriptionZuulId": {
                "type": "string",
                "required": [],
                "description": "SourceSubscriptionZuulId",
                "nullable": false
              },
              "State": {
                "type": "string",
                "required": [],
                "description": "State",
                "nullable": false
              },
              "Workspace": {
                "$ref": "#/components/schemas/WorkspaceRef",
                "required": []
              },
              "WorkspaceOids": {
                "type": "string",
                "required": [],
                "description": "WorkspaceOids",
                "nullable": false
              },
              "Warnings": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "Errors": {
                "items": {
                  "type": "string"
                },
                "type": "array"
              }
            }
          }
        }
      },
      "DataMoveRequestRef": {
        "type": "object",
        "description": "Reference to DataMoveRequest",
        "properties": {
          "_ref": {
            "type": "string"
          }
        },
        "required": [
          "_ref"
        ],
        "example": {
          "_ref": "/datamoverequest/{oid}"
        }
      },
      "Defect": {
        "type": "object",
        "description": "Defect",
        "properties": {
          "AIAssisted": {
            "type": "boolean",
            "required": [],
            "description": "AI Assisted",
            "readOnly": true,
            "nullable": true
          },
          "AcceptedDate": {
            "type": "string",
            "required": [],
            "description": "Accepted Date",
            "readOnly": true,
            "nullable": true
          },
          "AffectsDoc": {
            "type": "boolean",
            "required": [],
            "description": "Affects Doc",
            "nullable": true
          },
          "Ancestors": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "Attachments": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "Blocked": {
            "type": "boolean",
            "required": [],
            "description": "Blocked",
            "nullable": true
          },
          "BlockedReason": {
            "type": "string",
            "required": [],
            "description": "Blocked Reason",
            "nullable": true
          },
          "Blocker": {
            "$ref": "#/components/schemas/BlockerRef",
            "required": []
          },
          "Changesets": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "ClosedDate": {
            "type": "string",
            "required": [],
            "description": "Closed Date",
            "readOnly": true,
            "nullable": true
          },
          "Connections": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "CreatedBy": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "CreationDate": {
            "type": "string",
            "required": [],
            "description": "Creation Date",
            "readOnly": true,
            "nullable": false
          },
          "DefectSuites": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "Description": {
            "type": "string",
            "required": [],
            "description": "Description",
            "maxLength": 32768,
            "nullable": true
          },
          "Discussion": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "DisplayColor": {
            "type": "string",
            "required": [],
            "description": "Display Color",
            "nullable": true
          },
          "DragAndDropRank": {
            "type": "string",
            "required": [],
            "description": "Drag And Drop Rank",
            "readOnly": true,
            "nullable": true
          },
          "Duplicates": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "Environment": {
            "type": "string",
            "required": [],
            "description": "Environment",
            "nullable": true,
            "enum": [
              "",
              "Development",
              "Test",
              "Staging",
              "Production",
              "None"
            ]
          },
          "Expedite": {
            "type": "boolean",
            "required": [],
            "description": "Expedite",
            "nullable": true
          },
          "FinancialWorkType": {
            "type": "string",
            "required": [],
            "description": "Financial Work Type",
            "nullable": true,
            "enum": [
              "",
              "None"
            ]
          },
          "FixedInBuild": {
            "type": "string",
            "required": [],
            "description": "Fixed In Build",
            "nullable": true
          },
          "FlowState": {
            "$ref": "#/components/schemas/FlowStateRef",
            "required": []
          },
          "FlowStateChangedDate": {
            "type": "string",
            "required": [],
            "description": "Flow State Changed Date",
            "readOnly": true,
            "nullable": true
          },
          "FormattedID": {
            "type": "string",
            "required": [],
            "description": "Formatted ID",
            "readOnly": true,
            "nullable": false
          },
          "FoundInBuild": {
            "type": "string",
            "required": [],
            "description": "Found In Build",
            "nullable": true
          },
          "InProgressDate": {
            "type": "string",
            "required": [],
            "description": "In Progress Date",
            "readOnly": true,
            "nullable": true
          },
          "Iteration": {
            "$ref": "#/components/schemas/IterationRef",
            "required": []
          },
          "IterationValue": {
            "type": "string",
            "required": [],
            "description": "Iteration Value",
            "nullable": true
          },
          "LastBuild": {
            "type": "string",
            "required": [],
            "description": "Last Build",
            "readOnly": true,
            "nullable": true
          },
          "LastRun": {
            "type": "string",
            "required": [],
            "description": "Last Run",
            "readOnly": true,
            "nullable": true
          },
          "LastUpdateDate": {
            "type": "string",
            "required": [],
            "description": "Last Update Date",
            "readOnly": true,
            "nullable": false
          },
          "LatestDiscussionAgeInMinutes": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Latest Discussion Age In Minutes",
            "readOnly": true,
            "nullable": true
          },
          "Milestones": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "Name": {
            "type": "string",
            "required": [],
            "description": "Name",
            "nullable": false
          },
          "Notes": {
            "type": "string",
            "required": [],
            "description": "Notes",
            "maxLength": 32768,
            "nullable": true
          },
          "ObjectID": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Object ID",
            "readOnly": true,
            "nullable": false
          },
          "ObjectUUID": {
            "type": "string",
            "required": [],
            "description": "ObjectUUID",
            "readOnly": true,
            "nullable": false
          },
          "OpenedDate": {
            "type": "string",
            "required": [],
            "description": "Opened Date",
            "readOnly": true,
            "nullable": true
          },
          "Owner": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "Package": {
            "type": "string",
            "required": [],
            "description": "Package",
            "nullable": true,
            "enum": [
              "",
              "Package A",
              "Package B",
              "Package C",
              "None"
            ]
          },
          "PassingTestCaseCount": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Passing Test Case Count",
            "readOnly": true,
            "nullable": true
          },
          "PlanEstimate": {
            "type": "number",
            "required": [],
            "description": "Plan Estimate",
            "nullable": true
          },
          "PortfolioItem": {
            "$ref": "#/components/schemas/FeatureRef",
            "required": []
          },
          "Priority": {
            "type": "string",
            "required": [],
            "description": "Priority",
            "default": "None",
            "nullable": true,
            "enum": [
              "",
              "Resolve Immediately",
              "High Attention",
              "Normal",
              "Low",
              "None"
            ]
          },
          "Project": {
            "$ref": "#/components/schemas/ProjectRef",
            "required": []
          },
          "Ready": {
            "type": "boolean",
            "required": [],
            "description": "Ready",
            "nullable": true
          },
          "Recycled": {
            "type": "boolean",
            "required": [],
            "description": "Recycled",
            "readOnly": true,
            "nullable": true
          },
          "Release": {
            "$ref": "#/components/schemas/ReleaseRef",
            "required": []
          },
          "ReleaseNote": {
            "type": "boolean",
            "required": [],
            "description": "Release Note",
            "nullable": true
          },
          "ReleaseValue": {
            "type": "string",
            "required": [],
            "description": "Release Value",
            "nullable": true
          },
          "Requirement": {
            "$ref": "#/components/schemas/HierarchicalRequirementRef",
            "required": []
          },
          "Resolution": {
            "type": "string",
            "required": [],
            "description": "Resolution",
            "nullable": true,
            "enum": [
              "",
              "Architecture",
              "Code Change",
              "Configuration Change",
              "Database Change",
              "Duplicate",
              "Need More Information",
              "Not a Defect",
              "Software Limitation",
              "User Interface",
              "None"
            ]
          },
          "RevisionHistory": {
            "$ref": "#/components/schemas/RevisionHistoryRef",
            "required": []
          },
          "SalesforceCaseID": {
            "type": "string",
            "required": [],
            "description": "Salesforce Case ID",
            "nullable": true
          },
          "SalesforceCaseNumber": {
            "type": "string",
            "required": [],
            "description": "Salesforce Case Number",
            "nullable": true
          },
          "ScheduleState": {
            "type": "string",
            "required": [],
            "description": "Schedule State",
            "default": "Defined",
            "nullable": false,
            "enum": [
              "Defined",
              "In-Progress",
              "Completed",
              "Accepted",
              "None"
            ]
          },
          "ScheduleStatePrefix": {
            "type": "string",
            "required": [],
            "description": "Schedule State Prefix",
            "readOnly": true,
            "nullable": true
          },
          "Severity": {
            "type": "string",
            "required": [],
            "description": "Severity",
            "default": "None",
            "nullable": true,
            "enum": [
              "",
              "Crash/Data Loss",
              "Major Problem",
              "Minor Problem",
              "Cosmetic",
              "None"
            ]
          },
          "State": {
            "type": "string",
            "required": [],
            "description": "State",
            "default": "Submitted",
            "nullable": false,
            "enum": [
              "Submitted",
              "Open",
              "Fixed",
              "Closed",
              "None"
            ]
          },
          "SubmittedBy": {
            "$ref": "#/components/schemas/UserRef",
            "required": []
          },
          "Subscription": {
            "$ref": "#/components/schemas/SubscriptionRef",
            "required": []
          },
          "Tags": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "TargetBuild": {
            "type": "string",
            "required": [],
            "description": "Target Build",
            "nullable": true
          },
          "TargetDate": {
            "type": "string",
            "required": [],
            "description": "Target Date",
            "nullable": true
          },
          "TaskActualTotal": {
            "type": "number",
            "required": [],
            "description": "Task Actual Total",
            "readOnly": true,
            "nullable": true
          },
          "TaskEstimateTotal": {
            "type": "number",
            "required": [],
            "description": "Task Estimate Total",
            "readOnly": true,
            "nullable": true
          },
          "TaskRemainingTotal": {
            "type": "number",
            "required": [],
            "description": "Task Remaining Total",
            "readOnly": true,
            "nullable": true
          },
          "TaskStatus": {
            "type": "string",
            "required": [],
            "description": "Task Status",
            "readOnly": true,
            "nullable": false,
            "enum": [
              "NONE",
              "DEFINED",
              "IN_PROGRESS_BLOCKED",
              "IN_PROGRESS",
              "COMPLETED_BLOCKED",
              "COMPLETED",
              "None"
            ]
          },
          "Tasks": {
            "$ref": "#/components/schemas/Collection",
            "required": []
          },
          "TestCase": {
            "$ref": "#/components/schemas/TestCaseRef",
            "required": []
          },
          "TestCaseCount": {
            "type": "integer",
            "format": "int64",
            "required": [],
            "description": "Test Case Count",
            "readOnly": true,
            "nullable": true
          },
          "TestCaseResult": {
            "$ref": "#/components/schemas/TestCaseResultRef",
            "required": []
          },
          "TestCaseStatus": {
            "type": "string",
            "required": [],
            "description": "Test Case Status",
            "readOnly": true,
            "nullable": false,
            "enum": [
              "NONE",
              "NONE_RUN",
[...]
